{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Other meta tags, title, and head content go here -->
    <title>PEACE DGITAL</title>
    <!-- Link to the favicon -->
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <!-- Link to the stylesheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Your content and other body content go here -->
    {% block content %}{% endblock %}

    <!-- JavaScript libraries -->
</body>

</html>
